# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Секретные ключи
serviceAccountKey.json

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/
ENV/
env/

# pipenv
Pipfile.lock

# Poetry
poetry.lock

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Unit test / coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Misc
*.bak
*.tmp
